/*=============================================
=            Header            =
=============================================*/
header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;

    background-color: $white;
    .header-search {
        max-width: 230px;
        form {
            position: relative;
            input {
                font-size: 14px;

                width: 100%;
                padding: 7px 30px 7px 40px;

                color: #666666;
                border: none;
                border-radius: 25px;
                background-color: #EFEFEF;
            }
            svg,
            img {
                position: absolute;
                top: 50%;
                left: 15px;

                transform: translateY(-50%);
            }
        }
    }

    .header-menu-trigger {
        padding: 0;

        border: none;
        background: none;
        &:focus {
            outline: none;
        }
    }

    .header-logo {
        padding-left: 10px;
        width: 35%;
        height: 40%;
    }

}
